# Compiled binaries
*.com
*.class
*.dll
*.exe
*.o
*.so

# C/C++
build/
.vscode/

# Python
__pycache__/
*.py[cod]
*$py.class
env/
venv/
.venv/
.pytest_cache/

# Java
__MACOSX/
target/
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
build/

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# IDEs
.idea/
*.swp
*.swo
.settings/
.project
.classpath
